h2 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 50px;
    color: #8bc34a;
    opacity: 20.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }

.filter-buttons {
    text-align: center; 
    margin-bottom: 20px;
}
  
.filter-buttons button {
    margin: 0 5px;
    background-color: #b70ec7;
    color: white;
    border: none;
    padding: 8px 16px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}
  
.filter-buttons button:hover {
    background-color: #540064;
}
  
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
  
.product {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px; 
    width: 200px;
    text-align: center;
}