.weather {
    text-align: center;
    background-color: #a3bdbe;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    max-width: 550px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.weather h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    color: #ffff;
}
  
.weather p {
    font-size: 20px;
    margin-bottom: 19px;
}
.weather p2 {
    font-size: 38px;
    margin-bottom: 8px;
}

button {
    padding: 10px 20px;
    margin: 8px;
    font-size: 16px;
    width: 180px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #22d82b;
    color: white;
  }
  
  button:hover {
    background-color: #156419;
  }
  
  button:focus {
    outline: none;
  }