.product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .product button {
    padding: 10px;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #33c3f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .product button:hover {
    background-color: #007bff;
    transition: all .3s;
  }